$primaryColor: #ad82d9; 
$secondaryColor: #7ed9c8;
$accentColor: #f29c94;
$greyColor: #a9d979;
$whiteColor: #f2b33d;

$defaultFont: "Fascinate", system-ui;
$secondaryFont: "Story Script", cursive;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;